{$SERVICE_DOMAIN} {
    encode zstd gzip
    request_body {
        max_size 20KB
    }
    reverse_proxy api:8080
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        -Server
    }
}
